.Header {
  background: #0f1111;
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-logo > img {
  width: 100px;
  height: 50px;
  margin-left: 20px;
  :hover{
    cursor: pointer;
  }
}

.Header-search {
  flex-grow: 1;
  display: flex;
 
  margin-left: 10px;
  border-radius: 4px;
  overflow: hidden;
  :focus-within {
    border: 3px solid rgb(252, 204, 116);
  }
}

.Header-searchInput {
  width: 100%;
  height: 100%;
  align-self: center;
  padding: 10px;
  position: relative;
  outline: none;
 font-size: large;

}

.Header-searchIconContainer {
  width: 40px;
  background-color: #febd69;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  display: flex;
  margin-left: 2px;
  border: none;
  :hover {
    cursor: pointer;
  }
}

.Header-navItems {
  display: flex;
  flex-direction: row;
  :hover {
    cursor: pointer;
  }
}
.Header-option{
  display: flex;
  flex-direction: column;
  padding: 9px;
  :hover {
    cursor: pointer;
  }
}
.Header-optionLineOne{
  color: #ffffff;
  font-size: 12px;
 
}
.Header-optionLineTwo{
  color: #ffffff;
  
  font-weight: 600;
}
.Header-optionCart{
  display: flex;
  align-items: center;
  padding: 9px;
  color: #ffffff;
  :hover{
    cursor: pointer;
  }
}

.Header-cartCount{
  margin-left: 4px;
  margin-right: 10px;
  text-decoration: underline;
  text-decoration-color: rgb(135, 135, 135);
}

.link-without-underline {
  text-decoration: none;
}
